p This is the partial for Angular.
p New prices received for time {{time}}
div.stocks
  div.stock(ng-repeat="stock in stocks | orderBy: orderBy:true")(ng-class="getVariationClass(stock.variation);")
    div.title {{stock.company}}
    div.title {{stock.sector}}
    div.title {{stock.industry}}
    div.info
      div.symbol {{stock.symbol}}
      div.price {{stock.price}}$
      div.variation {{stock.variation}}
