extends layout

block body
  div(ng-controller='AppCtrl')
    h2(app-version)
    span.prepend.append.field
      span.adjoined Price every ms
      input(class="xnarrow text input", type="text", placeholder="Text input", ng-model="interval")
      div.medium.primary.btn.ttip(ng-click="changeInterval()", data-tooltip="icon-info") Change

    span.prepend.append.field
      span.adjoined Number of companies
      input(class="xnarrow text input", type="text", placeholder="Text input", ng-model="nbCompanies")
      div.medium.primary.btn.ttip(ng-click="changeNbCompanies()", data-tooltip="icon-info") Change

    ul.menu
      li
        a(href='angular') AngularJS
      li
        a(href='react') ReactJS

    div(ng-view)

  script(src='/socket.io/socket.io.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-route/angular-route.js')
  script(src='bower_components/angular-socket-io/socket.js')
  script(src='bower_components/lodash/dist/lodash.min.js')
  script(src='bower_components/react/react.min.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
